.add-option-div{
    padding:10px 20px;
    color: #6457a6;
}
.add-btn{
    float: right;
    height:2rem;
    background-color:white;
    color: #6457a6;
    border:2px solid  #6457a6;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}