*{
    box-sizing: border-box;
}
.dropdown-box{
    display: flex;
    flex-direction: column;
    width:21rem;
    height:16rem;
    overflow: auto;
    background:white;
    border-radius: 10px;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    box-shadow:0 16px 16px rgba(0,0,0,0.15);
}
.dropdown-items{
    display: flex;
    align-items: center;
    padding:10px 20px

}
.dropdown-items:hover{
    background-color: #d8def1;
    cursor: pointer;
}
.search-input .search{
    color:  #6457a6;
}
.search-input:hover{
    background-color: white;
}
.search-icon{
    height:100%;
    padding-top: 2px;
    color:  #6457a6;
}
.show-more-btn{
    width:100%;
    padding:10px 20px;
    border:none;
    outline: blue;
    background-color: #d8def1;
    color: #6457a6;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
}