
.dropdown-btn{
    border: 2px solid #6457a6;
    border-radius: 5px;
}
.dropdown-btn .select-btn{
    width:21rem;
    background-color: white;
    text-transform: none;
    box-shadow:0 8px 8px rgba(0,0,0,0.15);
    font-weight: bold;
    color: #6457a6;
}
.dropdown-btn .select-btn:hover{
    background-color: white;
    box-shadow:0 8px 8px rgba(0,0,0,0.15);
}
